/* slider */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgb(226, 107, 10);
}
.swiper-button-prev,
.swiper-button-next {
  transition: 0.3s ease-in-out;
  width: 35px !important;
  height: 35px !important;
  background-color: white;
  border-radius: 50%;
}
.Swiper-banner .swiper-button-next {
  right: -100px;
}
.Swiper-banner .swiper-button-prev {
  left: -100px;
}
.main-slider:hover > .Swiper-banner .swiper-button-prev {
  left: 20px;
}
.main-slider:hover > .Swiper-banner .swiper-button-next {
  right: 20px;
}
.Swiper-banner .swiper-button-prev::after,
.Swiper-banner .swiper-button-next::after {
  font-size: 15px;
  color: black;
}
.Swiper-banner .swiper-slide .image-banner {
  position: relative;
  height: 80vh;
  min-height: 400px;
}
.Swiper-banner .swiper-slide .image-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Swiper-banner .swiper-slide-active .introduce-center h4 {
  position: relative;
  animation-name: mymove;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.Swiper-banner .swiper-slide-active .introduce-center .products-name {
  position: relative;
  animation-name: mymove;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

.Swiper-banner .swiper-slide-active .introduce-center .title {
  position: relative;
  animation-name: mymove;
  animation-duration: 1.4s;
  animation-iteration-count: 1;
}

.Swiper-banner .swiper-slide-active .introduce-center a {
  position: relative;
  animation-name: mymove;
  animation-duration: 1.6s;
  animation-iteration-count: 1;
}
.introduce-center {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none !important;
  text-align: center;
  /* line-height: 2rem; */
}
.introduce-center h4 {
  color: white;
  margin-bottom: 20px;
}
.introduce-center .products-name {
  font-size: 80px;
  color: white;
  margin-bottom: 30px;
}
.introduce-center .title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
}
.introduce-center a {
  padding: 13px 30px;
  text-decoration: none;
  background-color: rgb(226, 107, 10);
  color: white;
  font-size: 15px;
}
.introduce-center a:hover {
  color: white;
  background-color: rgb(233, 137, 59);
}
@keyframes mymove {
  0% {
    bottom: -200px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@media  (max-width: 1200px) {
  .Swiper-banner .swiper-slide .image-banner {
    height: 55vw;
  }
  .introduce-center h4 {
    color: white;
    margin-bottom: 10px;
    font-size: 4vw;
  }
  .introduce-center .products-name {
    font-size: 8vw;
    color: white;
    margin-bottom: 30px;
  }
  .introduce-center .title {
    font-size: 3vw;
    color: white;
    margin-bottom: 30px;
  }
  .introduce-center a {
    padding: 10px 20px;
    font-size: 15px;
  }
}


@media  (max-width: 640px) {
  .introduce-center h4 {
    font-size: 20px;
  }
  .introduce-center .products-name {
    font-size: 35px;
  }
  .introduce-center .title {
    display: none;
  }
  .introduce-center a {
    padding: 10px 20px;
    font-size: 15px;
  }
}

/* recommend */
.main-products-recommend .recommend__list ul li {
  list-style-type: none;
  cursor: pointer;
  
}
.main-list .list-items-recommend .card .text__overlay {
  width: 70%;
}

.main-products-recommend .recommend__title * {
  padding-top: 10px;
}

.main-products-recommend .recommend__list ul li {
  white-space: nowrap;
  overflow-x: auto;
}
.main-products-recommend .recommend__list ul li .active {
  color: rgb(226, 107, 10);
}

.main-products-recommend .recommend__list ul li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.main-products-recommend .recommend__list ul li a:hover:not(.active) {
  color: rgb(226, 107, 10);
  
}

@media only screen and (max-width: 1200px) {
  .main-products-recommend .recommend__list ul {
    flex-wrap: wrap;
  }
}

.list-recommend{
  margin: 0 -15px;
}
.list-recommend .list-recommend__items{
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}

.list-recommend .list-recommend__items.active{
  display: flex;
}

/* products */
.list-products {
  text-decoration: none;
  color: black;
  position: relative;
}
.list-products .image .img_hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.7s;
}
.list-products .card{
	width: 100%;
	height: 100%;
	overflow: hidden;
  }
.list-products .image .img {
  opacity: 1;
  transition: 0.6s;
}
.products-btn .btn_right .products-btn__like {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 0.9em;
}

.products-btn .btn_right .btn_hover {
  transform: translateY(20px);
  transition: 0.3s;
  opacity: 0;
}
.list-products:hover .btn_hover {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.3s;
}
.list-products:hover .img {
  transition: 0.7s;
  opacity: 0;
}
.list-products:hover .img_hover {
  -webkit-transform: scaleX(-1);
  transform: scale(1.2) rotate(10deg) ;
  transition: 0.5s;
  opacity: 1;
}

.products-btn .badge_new {
  background-color: #007a58;
  color: white;
  font-size: 11px;
}
.products-btn .badge_sale {
  background-color: rgb(226, 107, 10);
  color: white;
  font-size: 11px;
}

.products-btn .products-btn__like:hover {
  color: white;
  background-color: rgb(226, 107, 10);
}

.products-btn .btn-add__overlay .product-btn__view {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  width: 80%;
  transform: translateY(0px);
  transition: transform 0.3s;
  text-decoration: none;
  color: black;
  opacity: 0;
  transition: 0.3s;
}
.products-btn .btn-add__overlay .product-btn__view:hover {
  color: rgb(226, 107, 10);
  transition: 0.3s;
}
.list-products:hover {
  cursor: pointer;
}
.list-products:hover .product-btn__view {
  transform: translateY(-20px);
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.list-products .product-title .product-title_name {
  font-size: 18px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.list-products .product-title .product-title_name:hover {
  color: rgb(226, 107, 10);
  transition: 0.3s;
}
.list-products .product-title .product_price {
  font-size: 18px;
  font-weight: 500;
}
.list-products .product-title .product_price_sale {
  font-size: 14px;
}

/* product sale */
.product-sale {
  width: 100%;
  margin: auto;
}

.product-sale .product-sale_item1 img,
.product-sale .product-sale_item2 img {
  position: relative;
  width: 100%;
}
.product-sale .product-sale_item1 .item_title1 {
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 20px;
  transform: translateY(-20px);
}
.product-sale .product-sale_item1 .item_title1 p,
.product-sale .product-sale_item2 .item_title2 p {
  font-size: 40px;
  font-weight: 500;
}
.product-sale .product-sale_item2 .item_title2 {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 20px;
  transform: translateY(-20px);
}


.Swiper-sale .product-item{
	max-width: 100%;
	flex: 0 0 100%;
}

/* .Swiper-sale .swiper-button-prev,
.Swiper-sale .swiper-button-next {
  transition: 0.3s ease-in-out;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
} */
.Swiper-sale .swiper-button-next {
  right: -100px;
}
.Swiper-sale .swiper-button-prev {
  left: -100px;
}
.product-item:hover > .Swiper-sale .swiper-button-prev {
  left: 20px;
}
.product-item:hover > .Swiper-sale .swiper-button-next {
  right: 20px;
}
.products{
  margin: 0 -15px;
}
.products .swiper-slide {
  cursor: pointer;
}
.Swiper-sale .swiper-button-prev::after,
.Swiper-sale .swiper-button-next::after {
  font-size: 15px;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .product-sale .product-sale_item1 .item_title1,
  .product-sale .product-sale_item2 .item_title2 {
    font-size: 10px;
    line-height: 1.9rem;
  }
  .product-sale .product-sale_item1 .item_title1 p,
  .product-sale .product-sale_item2 .item_title2 p {
    font-size: 25px;
  }
}

/* page */
.main-page {
  background-color: #f8f8f8;
}

.main-page .list-breakcrumb{
  margin-bottom: 0;
}
@media (max-width: 640px) {
  .main-page .container{
    padding: 10px !important;
  }
}
.main-page .main-stage__page h1 {
  font-size: 30px;
}

.main-page .main-stage__listpage ul li {
  list-style-type: none;
  margin-right: 20px;
  text-decoration: none;
}

.main-page .main-stage__listpage ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.main-page .main-stage__listpage ul li .active {
  color: rgb(226, 107, 10);
}
.main-page .main-stage__listpage ul li .active:hover:not(.active) {
  color: rgb(226, 107, 10);
  text-decoration: underline;
  transition: 0.3s;
}

/* addproduct */
.main-addproduct .addproduct__title h1 {
  font-size: 30px;
}
.addproduct__lists {
  width: 100%;
}
.addproduct__lists .items__products .col-name a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.addproduct__lists .items__products .col-img img {
  width: 100%;
}
.addproduct__lists .items__products .col-delete a {
  color: black;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.addproduct__lists .items__products .col-delete a:hover {
  color: rgb(226, 107, 10);
}
.addproduct__lists .items__title {
  background-color: #e9e9e9;
}

.addproduct__active{
    margin: 0 -15px;
}
@media  (max-width: 768px){
    .addproduct__active{
        margin: 0;
    }
}
.addproduct__active a {
  text-transform: uppercase;
  font-weight: bolder;
}
.addproduct__active .btn-light:hover {
  background-color: rgb(226, 107, 10);
  color: white;
  transition: 0.3s;
}
.addproduct__active .addproduct__btn,
.addproduct__btn-continuos,
.addproduct__pay .addproduct__btn {
  border-radius: 0px;
}
.addproduct__active .addproduct__btn,
.addproduct__pay .addproduct__btn {
  color: white;
  background-color: rgb(226, 107, 10);
}
.addproduct__active .addproduct__btn:hover,
.addproduct__pay .addproduct__btn:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
.addproduct__pay .proceed {
  background-color: #e9e9e9;
  width: 400px;
}
.addproduct__pay .proceed .proceed__total .total {
  font-weight: bolder;
}

.addproduct__lists .addproduct__lists-mobile .shop-item .side-product__img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 380px) {
  .addproduct__lists .addproduct__lists-mobile .shop-item .side-product__img {
    width: 50%;
  }
}

.addproduct__lists
  .addproduct__lists-mobile
  .shop-item
  .side-product__title
  .side-product__close
  a {
  width: 5px;
  color: black;
  transition: 0.2s;
}
.addproduct__lists
  .addproduct__lists-mobile
  .shop-item
  .side-product__title
  .side-product__close
  a:hover {
  transition: 0.2s;
  cursor: pointer;
  color: rgb(226, 107, 10);
}

.addproduct__lists .side-product__title{
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
@media (max-width: 380px) {
  .addproduct__lists .side-product__title{
    width: 50%;
  }
}


.addproduct__lists .side-product__title .addproduct_quantity .input-number{
  max-width: 50px;
}
.addproduct__lists .addproduct__lists-mobile .shop-item .side-product__title .side-product__close {
  text-decoration: none;
  color: black;
  margin-top: auto;
}

.addproduct__lists .addproduct__lists-mobile .shop-item .side-product__title .side-product__close .fa {
  font-size: 1.3rem;
}
@media (max-width: 380px) {
  .addproduct__lists .addproduct__lists-mobile .shop-item .side-product__title .side-product__close .fa {
    font-size: 1rem;
  }
}

.addproduct__lists .addproduct__lists-mobile .shop-item .side-product__title .side-product__close:hover {
  color: rgb(226, 107, 10);
  transition: 0.3s;
  cursor: pointer;
}

.addproduct__lists .addproduct__lists-mobile .shop-item .side-product__title .title {
  color: black;
  margin-bottom: 1vw;
}
.addproduct__lists .addproduct__lists-mobile .shop-item .side-product__title .item-price {
  color: rgb(226, 107, 10);
}
.addproduct__lists
  .addproduct__lists-mobile
  .shop-item
  .side-product__title
  .addproduct_quantity
  input {
  width: 20%;
  border-radius: 0px;
  border: 0px;
}

@media only screen and (min-width: 768px) {
  .addproduct__lists .addproduct__lists-mobile {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .items__products,
  .items__title {
    display: none;
  }
  .addproduct__active .addproduct__btn,
  .addproduct__btn-continuos {
    width: 50%;
  }
  .addproduct__pay .proceed {
    width: 100%;
  }
}
.products-detail{
  margin: 0 -15px;
}
/* product detail */
.products-detail .products-detail__img .img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .products-detail .products-detail__img .img-small-preview {
  overflow-x: scroll;
} */
.products-detail__img .img-small-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-detail__infor .detail__title .detail__price {
  font-size: 25px;
}
.products-detail__infor
  .detail__amount__add
  .detail__amount
  .btn__plus__minus
  img {
  width: 10px;
}
.products-detail__infor .detail__amount__add .detail__amount .input-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
.products-detail__infor .detail__amount__add .detail__add a {
  color: white;
  background-color: rgb(226, 107, 10);
  border-radius: 0px;
}
.products-detail__infor .detail__amount__add .detail__add a:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.products-detail__infor .detail__policy .policy img {
  width: 28px;
}
@media only screen and (max-width: 768px) {
  .products-detail__infor {
    margin-top: 30px;
  }
}
/* product tab nav dedtail */
.tab-nav .nav-tabs .nav-item .active {
  border-bottom: solid !important;
  border-bottom-color: rgb(226, 107, 10) !important;
  color: black;
}
.tab-nav .nav-tabs .nav-item a:hover:not(.active) {
  border-bottom: solid !important;
  border-bottom-color: rgb(226, 107, 10) !important;
  color: black;
  transition: 0.4s;
}
.nav-tabs .nav-item a {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

.tab-content .menu2 .infor__products .infor .nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* filter */
.filter {
  background-color: #e6e6e6;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter .product-filter .list_filter {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.filter .product-filter .list_filter select {
  width: 200px;
  cursor: pointer;
  border: none;
  background-color: #e6e6e6;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .filter {
    flex-direction: column;
  }
  .filter .product-filter .list_filter select {
    width: 300px;
  }
}

/* pagination bar */
.pagination-bar .pagination * {
  border: none;
  margin-left: 3px;
  margin-right: 3px;
}
.pagination-bar .pagination li a:hover {
  background-color: rgb(226, 107, 10);
  color: white;
  transition: 0.3s;
}
.pagination li .active {
  background-color: rgb(226, 107, 10);
  color: white;
}
.pagination li a:not(.active) {
  background-color: #f2f2f2;
}

/* checkout */
.main-checkout .title-checkout {
  font-size: 25px;
}
.main-checkout .checkout_bill .checkout_fill form input {
  border-radius: 0px;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid #ebebeb;
}
@media (max-width: 640px) {
  .main-checkout .checkout_bill .checkout_fill form input {
    height: 40px;
    margin-bottom: 0px;
  }
}
.main-checkout .checkout_bill .checkout_fill form select {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid #ebebeb;
}

.checkout_order .checkout_order-content {
  background: #ebebeb;
}
@media (max-width: 640px) {
  .checkout_order .checkout_order-content {
    padding: 0 20px;
  }
}
.checkout_order .bill_content {
  padding: 19px 0 18px;
}

.checkout_order .bill_content:not(:last-child) {
  border-bottom: 1px solid #dee0e4;
}
.checkout_order .bill_content span {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.checkout_order .bill_content .total {
  color: rgb(226, 107, 10);
  font-weight: bold;
  margin-bottom: 10px;
}
.checkout_order .bill_content .direct {
  font-size: 15px;
}

.checkout_order .bill_order .order__btn {
  background-color: rgb(226, 107, 10);
  color: white;
  border-radius: 0px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}
.checkout_order .bill_order .order__btn:hover {
  background-color: black;
}

/* success page */
.success-checkout .succees_order {
  width: 60%;
}
.success-checkout .flag_noti .flag_icon {
  font-size: 30px;
  font-weight: bold;
  color: rgb(226, 107, 10);
}
.success-checkout .flag_noti .shop_again {
  font-size: 15px;
  font-weight: bold;
  color: rgb(226, 107, 10);
}
.success-checkout .flag_noti .shop_again a {
  background-color: rgb(226, 107, 10);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.success-checkout .flag_noti .shop_again a:hover {
  background-color: black;
  transition: 0.3s;
}
@media only screen and (max-width: 1200px) {
  .success-checkout .succees_order {
    width: 100%;
  }
  .success-checkout .flag_noti .flag_icon {
    font-size: 20px;
    white-space: nowrap;
  }
}


/* Login */
.login-page .login-form{
  margin: 100px 0;
}
.login-page .login-form .login-tabs .list-login-tabs{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding-inline-start: 0;
}
.login-page .login-form .login-tabs .list-login-tabs li{
  list-style-type: none;
  padding: 0 20px;
  font-size: 30px;
  font-weight: 530;
  cursor: pointer;
  position: relative;
}
.login-page .login-form .login-tabs .list-login-tabs li:first-child:before{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  height: 50%;
  width: 1px;
  background-color: black;
}
.login-page .login-form .login-tabs .list-login-tabs li p.active,
.login-page .login-form .login-tabs .list-login-tabs li p:hover{
  color: rgb(226, 107, 10);
  
}
.login-page .login-form .login-tabs .list-login-tabs li p{
  transition: .3s ease-in-out;
  margin-bottom: 0;
}


/* login form */
.login-page .login-form .form{
  width: 60%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  box-shadow: 0 0 6px rgb(0 0 0 / 10%);
}
@media (max-width: 1024px) {
  .login-page .login-form .form{
    width: 70%;
    
  }
}
@media (max-width: 980px) {
  .login-page .login-form .form{
    width: 90%;
    
  }
}
@media (max-width: 768px) {
  .login-page .login-form .form{
    width: 100%;
    padding: 50px;
  }
}
@media (max-width: 430px) {
  .login-page .login-form .form{
    width: 100%;
    padding: 30px;
  }
}
.login-page .login-form .form .form-signin,
.login-page .login-form .form .form-register{
  width: 100%;
  display: none;
  flex-direction: column;
  margin: auto;
  animation: fadeEffect .4s;
}
.login-page .login-form .form .input{
  
  position: relative;
  /* color:#ebebeb ; */
}
.login-page .login-form .form .input-form{
  width: 100%;
  background: none;
  border: solid 1px #ebebeb;
  padding: 0 15px;
  height: 50px;
  margin-bottom: 40px;
  position: relative;
  /* color:#ebebeb ; */
}
.login-page .login-form .form span{
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* display: none; */
  color: rgb(226, 107, 10);
}
@media (max-width: 768px) {
  .login-page .login-form .form .input-form{
    margin-bottom: 30px;
  }
}
.login-page .login-form .form .input-form::placeholder{
  color:rgba(0, 0, 0,0.5) ;
}
.login-page .login-form .form .forgot{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.login-page .login-form .form .forgot a{
  color: black;
  text-decoration: none;
  transition: .3s ease-in-out;
}
.login-page .login-form .form .forgot a:hover{
  color: rgb(226, 107, 10);
}
.login-page .login-form .form .btn-submit{
  width: 20%;
  padding: 7px 0;
  border: none;
  background-color: #f2f2f2;
  transition: .3s ease-in-out;
  min-width: 70px;
}
.login-page .login-form .form .btn-submit:hover{
  color: white;
  background-color: rgb(226, 107, 10);
}
.login-page .login-form .form .form-signin.active,
.login-page .login-form .form .form-register.active{
  display: flex;
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.pt-100px {
padding-top: 100px;
}
.pb-100px{
    padding-bottom: 100px;
}
.contact-map {
    margin-bottom: 60px
}

.gmap_canvas iframe {
    overflow: hidden;
    background: 0 0 !important;
    height: 500px;
    width: 100%
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .gmap_canvas iframe {
        height: 400px
    }
}

@media only screen and (max-width:767px) {
    .gmap_canvas iframe {
        height: 350px
    }
}

.custom-row-2 .title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600
}

.contact-info-wrap {
    background-color: #f5f5f5;
    padding: 50px 40px;
    height: 100%
}

.contact-info-wrap .single-contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px
}

.contact-info-wrap .single-contact-info .contact-info-inner {
    width: 80px
}

.contact-info-wrap .single-contact-info .contact-info-inner .sub-title {
    display: inline-block;
    font-weight: 600;
    color: #212121;
    font-family: Raleway, sans-serif
}

.contact-info-wrap .single-contact-info .contact-info-dec p {
    margin: 0;
    color: #474747
}

@media only screen and (min-width:992px) and (max-width:1199px),
only screen and (min-width:768px) and (max-width:991px) {
    .contact-info-wrap .single-contact-info .contact-info-dec p {
        font-size: 14px
    }
}

.contact-info-wrap .single-contact-info .contact-info-dec p a {
    color: #474747
}

.contact-info-wrap .single-contact-info .contact-info-dec p a:hover {
    color: #ff7004
}

.contact-info-wrap .contact-social .title {
    font-size: 20px;
    margin: 30px 0 17px;
    font-weight: 600
}

.contact-info-wrap .contact-social .social-info a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #474747;
    font-size: 20px;
    padding: 0;
    line-height: 36px;
    border-radius: 100%;
    text-align: center;
    border: none;
    z-index: 1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    margin-right: 20px
}

.contact-info-wrap .contact-social .social-info a:hover {
    color: #ff7004
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .contact-info-wrap {
        padding: 50px 27px
    }
}

@media only screen and (max-width:767px) {
    .contact-info-wrap {
        padding: 50px 20px
    }
}

.contact-form {
    background-color: #f5f5f5;
    padding: 50px 40px
}

.contact-form .contact-form-style input,
.contact-form .contact-form-style textarea {
    background: 0 0;
    border: 1px solid #c1c1c1;
    margin-bottom: 30px;
    color: #474747
}

.contact-form .contact-form-style textarea {
    margin-bottom: 0;
    height: 200px;
    width: 100%;
    display: inline-block;
    line-height: 50px;
    font-size: 15px;
    width: 100%;
    background: 0 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-align: left;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
    outline: 0;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .contact-form .contact-form-style textarea {
        height: 130px
    }
}

.contact-form p {
    color: #474747
}
input {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    width: 100%;
    background: 0 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-align: left;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
    outline: 0;
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .contact-form {
        padding: 50px 27px
    }
}

@media only screen and (max-width:767px) {
    .contact-form {
        padding: 50px 20px
    }
}

.btn {
    padding: 0;
    font-size: 16px;
    border-radius: 0;
    width: 150px;
    height: 50px;
    border: 0;
    font-weight: 600;
    font-family: Raleway, sans-serif;
    line-height: 50px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.btn-primary {
    color: #fff;
    background-color: #ff7004;
    border-color: #ff7004;
    border: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff862a;
    border-color: #ff7f1e
}

.btn-color-dark {
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    width: 130px;
    height: 45px;
    line-height: 45px
}

.btn-hover-color-primary:hover {
    color: #fff;
    background-color: #ff862a;
    border-color: #ff7f1e
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #ff862a;
    border-color: #ff7f1e;
    -webkit-box-shadow: 0;
    box-shadow: 0
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff8d37;
    border-color: #ff7f1e
}

/*.ShowProduct_banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none
}

.ShowProduct_banner .left {
  padding-left: 20px;
  font-weight: 700;
  color: #000
}

.ShowProduct_banner .right {
 align-items: center;
}

.ShowProduct_banner .right .button {
  padding: 15px 15px;
  width: fit-content;
  color: #fff;
  background-color: #00f
}

.ShowProduct_banner .right img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}

.ShowProduct_box {
  padding: 20px 20px;
  border: 1px solid gray;
 background-color: #e2e2e2; 
}

.ShowProduct_box--Show {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid gray;
  background-color: #fff
}

.ShowProduct_box--Show ::after {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 150px;
  height: 2px;
  background-color: #00f;
  content: ""
}

.ShowProduct_box--Select .Search {
  display: flex;
  align-items: center;
  justify-content: center
}

.ShowProduct_box--Select .Search input {
  width: 100%;
  height: 60px;
  padding-left: 20px
}

.ShowProduct_box--All .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  line-height: 2
}

.ShowProduct_box--All .row * {
  overflow: hidden
}

.ShowProduct_box--All .row .Product-img img {
  width: 40px;
  height: 50px
}

.ShowProduct_box--All .row .Product-name {
  display: flex;
  flex-direction: row;
  align-items: center
}

.ShowProduct_box--All .row .Product-price {
  text-align: center
}

.ShowProduct_box--All .row .Product-sale {
  text-align: center
} */
.addproduct-main-area .addproduct-page-title {
  color: #212121;
  text-align: left;
  font-size: 24px;
  line-height: 16px;
  font-style: normal;
  text-transform: none;
  margin: 0 0 30px;
  font-weight: 600
}

.addproduct-main-area .table-content table {
  border: 1px solid #ebebeb;
  width: 100%
}

.addproduct-main-area .table-content table thead>tr {
  background-color: #ebebeb;
  border: 1px solid #ebebeb
}

.addproduct-main-area .table-content table thead>tr>th {
  border-top: medium none;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  padding: 21px 45px 22px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap
}

.addproduct-main-area .table-content table tbody>tr {
  border-bottom: 1px solid #ebebeb
}

.addproduct-main-area .table-content table tbody>tr td {
  color: #474747;
  font-size: 15px;
  padding: 30px 0;
  text-align: center
}

.addproduct-main-area .table-content table tbody>tr td.product-thumbnail {
  width: 150px
}

.addproduct-main-area .table-content table tbody>tr td.product-name {
  width: 435px
}

.addproduct-main-area .table-content table tbody>tr td.product-name a {
  color: #474747;
  font-size: 15px;
  font-weight: 500
}

.addproduct-main-area .table-content table tbody>tr td.product-price-addproduct {
  width: 435px
}

.addproduct-main-area .table-content table tbody>tr td.product-quantity {
  width: 435px
}

.addproduct-main-area .table-content table tbody>tr td.product-quantity .addproduct-plus-minus {
  display: inline-block;
  height: 40px;
  padding: 0;
  position: relative;
  width: 110px
}

.addproduct-main-area .table-content table tbody>tr td.product-quantity .addproduct-plus-minus .dec.qtybutton {
  border-right: 1px solid #e5e5e5;
  height: 40px;
  left: 0;
  padding-top: 8px;
  top: 0
}

.addproduct-main-area .table-content table tbody>tr td.product-quantity .addproduct-plus-minus .inc.qtybutton {
  border-left: 1px solid #e5e5e5;
  height: 40px;
  padding-top: 9px;
  right: 0;
  top: 0
}

.addproduct-main-area .table-content table tbody>tr td.product-quantity .addproduct-plus-minus .qtybutton {
  color: #474747;
  cursor: pointer;
  float: inherit;
  font-size: 16px;
  margin: 0;
  position: absolute;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  width: 20px;
  text-align: center
}

.addproduct-main-area .table-content table tbody>tr td.product-quantity .addproduct-plus-minus input.addproduct-plus-minus-box {
  color: #474747;
  float: left;
  font-size: 14px;
  height: 40px;
  margin: 0;
  width: 110px;
  background: transparent none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  padding: 0;
  text-align: center
}

.addproduct-main-area .table-content table tbody>tr td.product-remove {
  width: 100px
}

.addproduct-main-area .table-content table tbody>tr td.product-remove a {
  color: #474747;
  font-size: 16px;
  margin: 0 10px
}

.addproduct-main-area .table-content table tbody>tr td.product-remove a:hover {
  color: #ff7004
}

.addproduct-main-area .table-content table tbody>tr td.product-wishlist-addproduct>a {
  background-color: #ff7004;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding: 10px 12px;
  text-transform: uppercase
}

.addproduct-main-area .table-content table tbody>tr td.product-wishlist-addproduct>a:hover {
  background-color: #212121
}

.addproduct-main-area .addproduct-shiping-update-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 60px
}

.addproduct-main-area .addproduct-shiping-update-wrapper .addproduct-clear>button {
  border: medium none;
  cursor: pointer;
  margin-right: 27px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s
}

@media only screen and (max-width:767px) {
  .addproduct-main-area .addproduct-shiping-update-wrapper {
      display: block;
      padding: 30px 0 15px
  }
}
.addproduct-info-wrap h3 {
  font-weight: 600;
  color: #212121;
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 16px
}

.addproduct-info-wrap .addproduct-info input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  color: #474747;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 10px;
  width: 100%;
  outline: 0;
  height: 45px
}

.addproduct-info-wrap .addproduct-info input.addproduct-description {
  margin-bottom: 10px;
  height:100px;
}

.addproduct-info-wrap .addproduct-info .checkout-account label {
  color: #474747;
  font-weight: 400;
  margin: 0 0 0 12px
}

.addproduct-info-wrap .addproduct-info .checkout-account input {
  border: 1px solid #ebebeb;
  display: inline-block;
  float: left;
  height: 12px;
  width: 12px;
  margin-top: 7px;
  cursor: pointer
}

.addproduct-info-wrap .addproduct-select select {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  color: #474747;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 10px;
  width: 100%;
  outline: 0;
  height: 45px
}

.addproduct-info-wrap .checkout-account-toggle input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  color: #474747;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 10px;
  margin: 0 0 20px;
  width: 100%;
  height: 45px;
  outline: 0
}

.addproduct-info-wrap .checkout-account-toggle button.checkout-btn {
  background-color: #ff7004;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 0;
  z-index: 9
}

.addproduct-info-wrap .checkout-account-toggle button.checkout-btn:hover {
  background-color: #212121
}

.addproduct-info-wrap .additional-info-wrap {
  margin: 30px 0
}

.addproduct-info-wrap .additional-info-wrap h4 {
  font-size: 16px;
  font-weight: 600;
  color: #212121;
  margin: 0 0 10px
}

.addproduct-info-wrap .additional-info-wrap textarea {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  color: #474747;
  font-size: 14px;
  height: 138px;
  padding: 17px 20px;
  width: 100%;
  outline: 0
}

.addproduct-info-wrap label {
  margin-bottom: 10px
}
.img-responsive {
  max-width: 100%;
  display: block;
}