::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(233, 137, 59); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(233, 137, 59, 0.8); 
  }
  textarea:focus, input:focus{
    outline: none;
}