/* headeer-wellcome */
.header-wellcome .wellcome__title span{
    color: rgb(226, 107, 10);
    }


.header-wellcome .wellcome__nation li{
	list-style-type: none;
    }
    .wellcome__nation ul{
        margin: 0px;
        padding: 0px;
    }
    .wellcome__nation ul li .nation{
        color: white 
    }
    .wellcome__nation ul li .nation:hover{
        color: rgb(226, 107, 10) !important;
        text-decoration: none;
        transition: 0.3s;
    }
    .wellcome__nation .dropdown:hover .dropdown-menu{
        display: block;
    }
    .wellcome__nation .dropdown img{
        width: 10px;
    }
    .wellcome__nation .dropdown i{
        color: white;
    }

    @media only screen and (max-width: 768px) {
        .header-wellcome .container{
            justify-content: center;
        }
        .wellcome__nation{
            display: none;
        }
    }

/* header-logo */
.header-logo .logo-icon .icon-items{
        position: relative;
    }
    .header-logo .logo-icon .icon-items:hover{
      cursor: pointer;
    }
    .header-logo .logo-icon .icon-items img{
        width: 35px;
    }
    .header-logo .logo-icon .search {
        position: relative;
    }
    .header-logo .logo-icon .search .input_search{
        position: absolute;
        right: 0;
        width: 50vw;
        z-index: 4;
    }
    .header-logo .logo-icon .search .input_search button{
        border: 0;
    }
    
    .header-logo .logo-icon .icon-items .badge{
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(226, 107, 10);
        color: white;
    }
    .header-logo .logo-icon .input_search-show{
        
		transform: translateX(0px);
        opacity: 1;
        transition: 0.2s;
    }
    .header-logo .logo-icon .input_search-primary{
		transform: translateX(30px);
        opacity: 0;
        transition: 0.2s;
    }
    .header-logo .logo-icon .input_search input{
        position: relative;
        width: 700px;
        border: solid 1px;
        border-color: #d6d6d6;
    }
    .header-logo .logo-icon .abc{
        position: absolute;
        transform: translateY(40px);	
    }
    .header-logo .logo-icon .input_search button{
        background-color: rgb(226, 107, 10);
        color: white;
        border: solid 1px;
        border-color: #d6d6d6;
    }
    .header-logo .logo-icon .input_search button i{
        padding: 10px;
    }
    
    .logo-icon .custom-color .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    @media only screen and (max-width: 768px) {
        .logo-icon .custom-color .navbar-toggler-icon{
            display: block;
        }
        /* .header-logo .logo-icon .input_search{
            width: 0px;
        } */
        .header-logo .logo-icon .input_search input{
            /* width:  20%; */
            border: solid 1px;
            border-color: #d6d6d6;
        }
    }

/* haeder-sile-nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 250px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

/* shop side */
.sideshop::-webkit-scrollbar {
    display: none;
  }
  
 
.sideshop {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -450px;
    width: 450px;
    background-color: white;
    overflow-x: scroll;
    transition: 0.5s;
    padding-top: 60px;
    }
    .sideshop-open{
        right: 0;
    }
    .sideshop .closebtn:hover {
        color: rgb(226, 107, 10);
    }
    
    .sideshop .closebtn {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        transition: 0.3s;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .sideshop .shop-item .side-product__img{
        width: 30%;
    }

    .sideshop .shop-item .side-product__close a{
        color: black;
        transition: 0.2s;
    }
    .sideshop .shop-item .side-product__close a:hover{
        transition: 0.2s;
        cursor: pointer;
        color: rgb(226, 107, 10);
    }
    .sideshop .shop-item .side-product__title a {
        text-decoration: none;
        color: black;
    }

    .sideshop .shop-item .side-product__title a:hover {
        color: rgb(226, 107, 10);
        transition: 0.3s;
        cursor: pointer;
    }
    .sideshop .shop-item .side-product__title .item-price {
        color: rgb(226, 107, 10);
    }

    .sideshop .shop-side__pay .proceed{
        width:400px;
    }

    .sideshop .shop-side__pay .proceed .proceed__total{
        font-size: 20px;
    }

    .sideshop .shop-side__pay a{
        background-color: rgb(226, 107, 10);
        color: white;
        border-radius: 0px;
    }
    .sideshop .shop-side__pay a:hover{
        background-color: black;
        color: white;
    }

    @media screen and (max-height: 450px) {
    .sideshop {padding-top: 15px;}
    .sideshop a {font-size: 18px;}
    }

    @media only screen and (max-width: 768px) {
        .sideshop-open{
            width: 100%;
        }
    }

/* header navication */
.header-nav{
    width: 100%;
    background-color: #e2e2e2;
}
.header-scroll{
    display: none;
    box-shadow: 2px 4px 8px rgb(51 51 51 / 25%);
}
.header-scroll.scroll-active{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    animation: nav-scroll 1s;
}
@media (max-width: 768px) {
    .header-scroll.scroll-active{
        display: none;
    }
}
@keyframes nav-scroll {
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}
.header-nav .nav-item a{
    
    text-decoration: none;
    color: black;
    }
    .header-nav .nav-item  {
        margin-left: 20px;
        margin-right: 20px;
    }
    .header-nav .nav-item a:hover{
        color: rgb(226, 107, 10) !important;
        transition: 0.3s;
    }
    .header-nav .nav-item  img{
        width: 10px;
    }
    @media only screen and (max-width: 768px) {
        .header-nav{
            display: none;
        }
    }



/* Success panner */
.Success{
    position: fixed;
    top: 20px;
    right: -200px;
    padding: 10px 20px;
    /* width: 100%; */
    border-left: solid 4px black;
    
    z-index: 99999;
    
}


.Success.annimationSuccess{
    animation: successpanner 5s  1;
}
.Success.annimationFail{
    animation: successpanner 5s  1;
}
@keyframes successpanner {
    0%{
        right: -200px;
    }
    15%{
        right: 30px;
    }
    25%{
        right: 20px;
    }
    35%{
        right: 20px;
    }
    45%{
        right: 20px;
    }
    55%{
        right: 20px;
    }
    65%{
        right: 30px;
    }
    100%{
        right: -300px;
    }
}

.success{
    background-color: rgb(226, 107, 10);
}

.fail{
    background-color: red;
}
.Success .Success-content{
    display: flex;
    align-items: center;
}
.success .Success-content p,
.fail .Success-content p
{
    margin-bottom: 0;
    color: white;
    margin: 0 10px;
}
.success .Success-content i,
.fail .Success-content i{
    color: white;
    margin: 0 10px;
}
